<div class="row">
<div class="padding col-md-6">
    <mat-card class="example-card">
    <mat-card-header  style="background-color: mediumaquamarine">
      <mat-card-title style="margin-left: 110px"> Item Form </mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: snow" >
      <form #itemForm=ngForm (ngSubmit)="onSubmit()" [formGroup]="itemsForm" >
        <!--      <mat-dialog-content [hidden]="!error" style="background-color: red; color: #e5e7eb;">-->
        <!--        {{error}}-->
        <!--      </mat-dialog-content>-->
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Item Name</mat-label>
          <input type="text" matInput  name="itemName"   formControlName="itemName" >
          <!--          <mat-hint>madawa@gmail.com</mat-hint>-->
          <!--          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
        &ngsp;&ngsp;&ngsp;
        <mat-form-field appearance="outline">
        <mat-label>Item Code</mat-label>
        <input type="text" matInput  name="itemCode"   formControlName="itemCode" >
        <!--          <mat-hint>madawa@gmail.com</mat-hint>-->
        <!--          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Item Price</mat-label>
          <input type="text" matInput  name="itemPrice"  formControlName="itemPrice" >
          <!--          <mat-hint>madawa@gmail.com</mat-hint>-->
          <!--          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
        <br>

        <div id="imgpanel" class="example-form-field">
          <img [src]="imageUrl">
          <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="image"  >
          <label for="userImage" id="selectbutton">Select</label>
          <!--      <label id="clearbutton" (click)="clearImage()">Clear</label>-->
        </div>
        <mat-card-actions style="background-color: snow"  type="button" >
          <button type="submit" mat-button mat-raised-button color="primary" [disabled]="!itemForm.valid">Submit</button>&nbsp;&nbsp;&nbsp;
          <button mat-button mat-raised-button color="accent" type="button" [disabled]="!itemForm.valid" (click)="update()">Update</button>&nbsp;
           <button mat-button mat-raised-button color="info"  type="reset" (click)="clearForm()" style="float: right">Clear</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="padding col-md-6 table-responsive">
  <h1> {{name1}} Table</h1>
  <table  *ngIf="items != undefined"  mat-table [dataSource]="items">

    <ng-container matColumnDef="itemname">
      <th mat-header-cell *matHeaderCellDef>Item Name</th>
      <td mat-cell *matCellDef="let item">{{item.itemname}}</td>
    </ng-container>

    <ng-container matColumnDef="itemprice">
      <th mat-header-cell *matHeaderCellDef>Item Price</th>
      <td mat-cell *matCellDef="let item">{{item.itemprice}}</td>
    </ng-container>

    <ng-container matColumnDef="itemcode">
      <th mat-header-cell *matHeaderCellDef>Item Code</th>
      <td mat-cell *matCellDef="let item">{{item.itemcode}}</td>
    </ng-container>

    <ng-container matColumnDef="delete-col">
      <th class="btn-col" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item" class="btn-col">
        <button  (click)="delete(item)" class="mat-btn-sm" mat-flat-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update-col">
      <th class="btn-col" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item" class="btn-col">
        <button  (click)="select(item.id)" class="mat-btn-sm" mat-flat-button color="accent"><mat-icon>edit</mat-icon> Chang</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-info"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;" ></tr>
  </table>
</div>
</div>
