.example-container mat-form-field + mat-form-field {
  margin-left: 8px;

}
.example-card {
  max-width: 800px;

}
@media (max-width: 1200px) {
  .example-card {
    width: 300px;
 ;
  }
}
@media (max-width: 992px) {
  .example-card {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .example-card {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 653px) {
  .example-card {
    width: 400px;
  }
}
@media (max-width: 575px){
  .example-card {
    width: 300px;
  }
}




