<div class="container">
  <div class="row">
    <div class="col-md-4  col-lg-4  col-xl-4"> </div>
    <div class="col-md-4 col-lg-4  col-xl-4" style="padding-top: 150px">
      <mat-card class="example-card">
        <mat-card-header  style="background-color: mediumaquamarine">
          <div mat-card-avatar></div>
          <mat-card-title style="margin-left: 0px"> Reset Password Here </mat-card-title>
        </mat-card-header>
        <mat-card-content style="background-color: snow">
          <br>

          <form #restForm=ngForm (ngSubmit)="onSubmit()" >
            <div class="example-container">
              <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput  name="email" [formControl]="email"  [(ngModel)]="form.email"  required>
                <mat-hint>madawa@gmail.com</mat-hint>
              </mat-form-field>
              <div>
                <mat-dialog-content  [hidden]="!error.email" >
                  {{error.email}}
                </mat-dialog-content>
              </div>
            </div>
            <br>
            <div class="example-container">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="=password" [(ngModel)]="form.password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div>
                <mat-dialog-content  [hidden]="!error.password" >
                  {{error.password}}
                </mat-dialog-content>
              </div>
            </div>
            <br>
            <div class="example-container">
              <mat-form-field appearance="outline">
                <mat-label>Confirmation Password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" name="=password_confirmation" [(ngModel)]="form.password_confirmation" required>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div>
                <mat-dialog-content  [hidden]="!error.password_confirmation" >
                  {{error.password_confirmation}}
                </mat-dialog-content>
              </div>
            </div>
            <br>
            <mat-card-actions style="background-color: snow"  type="button" >
              <button mat-button mat-raised-button color="primary" [disabled]="!restForm.valid">Change Password</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4  col-lg-4 col-xl-4"> </div>
  </div>
</div>
