<div class="container">
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <h1>About Code Helio Online Shope</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere ac ipsum sed convallis.
      Nam tristique lectus a blandit commodo. Sed dignissim urna quis molestie porttitor.
      Donec pharetra nibh vel eleifend ultrices. Nulla porttitor egestas nisl, at pretium lacus porttitor quis. Sed ut dolor sed purus accumsan commodo quis et risus.
      Duis venenatis lectus luctus tellus varius faucibus. Proin eleifend ullamcorper urna, at mattis mauris commodo vel.
      Sed sollicitudin, odio in bibendum efficitur, diam elit semper nunc, a porta justo erat nec neque.
      Duis eget porttitor nibh. Suspendisse potenti. Praesent dapibus dui ac neque ornare accumsan.
      Cras in nisi semper, volutpat nulla a, congue justo. Aliquam cursus porttitor pulvinar.
      Mauris aliquam porta convallis.</p>

  </div>
  <div class="col-4">

  </div>
  </div>
</div>

