@media (max-width: 1200px) {
  .example-card {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .example-card {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .example-card {
    width: 300px;
  }
}
@media (max-width: 653px) {
  .example-card {
    width: 300px;
  }
}
@media (max-width: 575px){
  .example-card {
    width: 400px;
  }
}




