<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <div class="row">{{ data.message }}</div>
  <div class="row">
    <div class="col-6">Item Name :</div>
    <div class="col-6">{{data.itemData.itemname}}</div>
  </div><div class="row">
  <div class="col-6">Item Price :</div>
  <div class="col-6">{{data.itemData.itemprice}}</div>
</div><div class="row">
  <div class="col-6">Item Code :</div>
  <div class="col-6">{{data.itemData.itemcode}}</div>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button  color="danger" (click)="onNoClick()">No</button>
  <button mat-button color="primary" (click)="onYesClick()">Yes</button>
</mat-dialog-actions>

